@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a:hover {
  color: #fff;
  text-decoration: none; }

.main {
  width: 1120px;
  margin: 0 auto;
  min-height: 50px; }
  .main:before {
    content: "";
    display: table; }
  .main:after {
    content: "";
    display: table;
    clear: both; }

/*header*/
#header {
  background: #fff; }
  #header > .header {
    line-height: 50px; }

/*subnav*/
.subnav {
  background-color: #47464a;
  text-align: center;
  height: 60px; }
  .subnav .navbar {
    display: inline-block;
    overflow: hidden; }
    .subnav .navbar li {
      display: inline-block;
      float: left; }
      .subnav .navbar li a {
        font-size: 16px;
        padding: 0 40px;
        line-height: 60px;
        display: block; }
        .subnav .navbar li a.active {
          color: #ef4238;
          position: relative;
          cursor: default; }

.subnav .navbar li a.active:before {
  content: "";
  width: 2px;
  display: inline-block;
  position: absolute;
  margin-left: -5px;
  left: 50%;
  top: 53px;
  border-bottom: 7px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: none; }

.movies-channel {
  width: 1120px; }

/*标签分类*/
.tags-panel {
  border: 1px solid #e5e5e5;
  padding: 0 20px;
  margin-top: 40px; }
  .tags-panel .tags-line {
    padding: 10px 0 !important;
    display: list-item; }
  .tags-panel .tags-line:not(:last-child) {
    border-bottom: 1px solid #e5e5e5; }

.tags-title {
  height: 24px;
  line-height: 24px;
  float: left;
  color: #999;
  font-size: 14px; }

.tags {
  margin-left: 40px; }

.tags li.active {
  background: #f34d41; }
  .tags li.active a {
    color: #fff; }

.tags li {
  border-radius: 14px;
  padding: 3px 9px;
  display: inline-block;
  margin-left: 12px; }
  .tags li a {
    font-size: 14px;
    color: #333; }
    .tags li a:hover {
      color: #f34d41; }

/*movie-panel*/
.movies-panel {
  margin-top: 40px; }
  .movies-panel .cat-sorter {
    float: left; }
    .movies-panel .cat-sorter li {
      display: inline-block;
      margin-right: 30px;
      line-height: 18px;
      height: 16px; }
      .movies-panel .cat-sorter li .sorter-radio {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid #e5e5e5;
        border-radius: 50%;
        vertical-align: top;
        margin-right: 2px; }
