/*全局样式*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a{
  color:#a5a5a5;
  text-decoration: none;
}
body{
  background: #fff;
  color:#333;
  font:14px "Arial";
}
.one,.two{
  width:1200px;
  margin:0 auto;
  min-height: 50px;
  &:before{
    content:'';
    display: table;
  }
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}
/*header*/
#header{
  background: #fff;
  p{
    line-height:50px;
  }
}
/*main*/
.main{
  background: #eeeeee;
  &:before{
    content: '';
    display: table;
  }
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}
.main>.one{
  background:#fff;
  margin:42px auto;
}
/*logobar*/
.logobar{
  padding: 20px 15px;
}
.logo{
  font-size:2.5em;
  color:#007dd3;
  &:hover{
  text-decoration:none;
  }
}

.search{
  width:390px;
  height:3em;
  vertical-align:middle;
  padding-left:30px;
}
/*icon字符集图标*/
@font-face {
  font-family:FontAwesome;
  src:url("../fonts/fontawesome-webfont.ttf");
      //url("../fonts/fontawesome-webfont.eot");
}
.icon-search{
  font-family:"FontAwesome";
  position:absolute;
  line-height: 3em;
  padding-left:12px;
  &:before{
    content:'\f002';
  }
}
.icon-home{
  font-family:'FontAwesome';
  position: absolute;
  color:#fff;
  font-size: 1.5em;
  line-height: 50px;
  padding-left:20px;
  &:before{
    content:'\f015';
  }
}
.home{
  background: #003b64;
  overflow: hidden;
  & ul{
    margin-left:60px;
    margin-bottom: 0;
    & li{
      line-height: 50px;
      padding: 0 30px;
      &.active{background: #fff200}
      &.active a{color:#333}
      & a{
        color: #fff;
        font-size: 1.2em;
        font-weight: bold;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
/*banner*/
.banner{
  position:relative;
  height: 440px;
  overflow:hidden;
  padding-top: 10px;
  margin-bottom: 20px;
  &:hover a{
    opacity: .9;
  }/*arrow*/
  & a{
    display: inline-block;
    width: 35px;
    height: 70px;
    position: absolute;
    top:50%;
    margin-top: -35px;
    border-radius: 3px;
    opacity: .3;
    &.arrow-left{
      background: url("../img/arrow-left.png") #000 50% no-repeat;
      left:15px;
    }
    &.arrow-right{
      background: url("../img/arrow-right.png") #000 50% no-repeat;
      right:15px;
    }
  }
  & .inner .item{
     display: none;
     width:100%;
     height: 610px;
    &.active{
    display: block;
    width:100%;
    height: 610px;
  }
   }/*四个点*/
  & .indicator{
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index:10;
    & li{
      display:inline-block;
      background: #fff;
      width:10px;
      height:10px;
      border-radius: 50%;
      cursor:pointer;
      margin: 0 5px;
      &.active{
        background:#003b64;
      }
    }
  }
}
/*slider*/
.slider,.slider-1,.slider-2,.slider-3{
  overflow: hidden;
  & ul{
    width: 1440px;
    font-size: 0;
  }
  & .panel-title{
    font-size: 2em;
    font-weight: bold;
    color:#007dd3;
    padding: 10px;
  }
  & .panel-more{
    position: absolute;
    right: 10px;
    color:#007dd3;
    padding: 10px;
    &>a{
      color:#007dd3;
      font-weight: bold;
    }
  }
  & ul li{
    display:inline-block;
    width:240px;
    padding:15px 10px;
    font-size:14px;
    &>div{
      border:1px solid #ddd;
      border-radius: 2px;
      box-shadow:0 0 5px #ddd;
      & img{
        max-width: 100%;
      }
      & .bottom{
        background:#f3f3f3;
        display:block;
      }
      & .fname{
        font-weight:bold;
        margin:10px 8px;
        text-align:left;
      }
      & .fdate{
        text-align:left;
        color:#007dd3;
        padding:8px;
        margin-bottom: 0;
      }
      & .fcinema{
        padding:0 8px 8px;
        text-align:left;
        margin-bottom: 0;
      }
    }
  }
}



